{
  "extends": [
    "airbnb-base"
  ],
  "plugins": [
    "jest",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "valid-jsdoc": "error",
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "arrow-parens": 0,
    "function-paren-newline": 0,
    "no-continue": 0
  },
  "env": {
    "jest/globals": true
  }
}